@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Controle RH</h1>
    <p>Sistema de Controle de Recusos Humanos</p>
    <a class="button mx-auto btn btn-primary btn-lg m-2 d-block w-50" asp-area="" asp-controller="Candidato" asp-action="Criar">Cadastrar novo Candidato!</a>
    <a class="button mx-auto btn btn-primary m-2 d-block w-25" asp-area="" asp-controller="Candidato" asp-action="Index">Lista de Candidatos</a>
</div>
